.outerdesc {
  padding-top: 1rem;
  margin-left: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.innerdesc {
  width: 45%;
}
.innerdesc > p {
  text-align: justify;
  color: white;
  font-family: 'Courier New', Courier, monospace; 
  padding-top: 1rem;
}
#growth > img {
  padding-top: 1rem;
  height: 33rem;
  width: 40rem;
}
.founder {
  margin-left: 5rem;
  font-family: 'Courier New', Courier, monospace;
  text-align: justify;
  padding: 2rem;
  color:white;
}
.founder > p{
  padding-top: 1rem;
}
#whychoose {
  display: flex;
  justify-content: space-evenly;
}
#whychoose > div > img {
  padding:1rem;
}
#whychoose >div >h5 {
  padding:0.7rem;
  color: wheat;
}

@media screen and (max-width:768px) {
  .outerdesc {
    margin:0;
  }
  .innerdesc {
    padding: 1rem;
    width: 100%;
  }

#growth > img {
  height: 23rem;
  width: 25rem; 
}
.founder {
  margin:0;
}
#whychoose {
  display: none;
  } 
}
