.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
    position : relative;
    margin:0.6rem;
    border-radius: 0.6rem;
   cursor: pointer; 
   border: 0px;
   outline: none;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.container1 {
  padding: 2px 16px;
  background-color: black;
  color: white;
border: none;

}
.container1 > h6 {
  text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
width: 14rem;
}

.card-outer {
  display:flex;
  justify-content: baseline;
  padding-left: 7rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  border:none;
}
.card > div > img {
  width: 16rem;
  height: 300px ;
  object-fit: cover;
  padding:0.5rem;
  border-radius: 1rem;
}
.card-container {
  padding : 2rem;
  width: 100%;
  height: 100%;
  background: rgb(1, 17, 23);
  border-radius: 0.6rem;
  position: relative;
}
.card::before{
  position: absolute;
  content: '';
  background: rgb(209, 6, 50);
  height: 28px;
  width: 28px;
  /* Added lines */
  top:2.55rem;
  right:-0.43rem;
  transform : rotate(45deg);
}
.card::after{
  position: absolute;
    content: attr(data-label);

  top: 11px;
  right: -12px;
  padding: 0.5rem;
  width: 9rem;
  background: rgb(145, 7, 37);
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}


@media screen and (max-width:900px) {
  .card-outer {
  
    margin: 0;
    padding: 0;
    display: grid;
     grid-template-columns: repeat(2, calc(50% - 10px));gap: 20px;
    scroll-snap-type: x mandatory; /* Enable snap scrolling */
    -webkit-overflow-scrolling: touch;
    padding:15px;
  }
  .card-container {
    width: 100%;
    border-radius: 0rem;
    padding: 0;
    margin: 0;
  }
  .card {
    margin:0;
    width: 100%;
    padding:0;
    border-radius: 0rem;
  }
.card > div > img {
   width: 10rem;
  height: 180px ;

}
.container1 {
  width: 10rem;
}
.container1 > p {
  font-size: small;  text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
.container1 > h6 {
  width: 8rem;
}
 }
