.banner-outer {
  display: flex;
  justify-content: space-evenly;
}
.banner-inner {
  padding-top: 1rem;
  margin-left: 5.7rem;
  width: 65vw;
}
@media screen and (max-width: 900px) {
 .banner-inner { 
  padding: 0; 
  margin: 0;
  width: 100%;
  height: 300px;
}
  #slide > img {
    height: 300px;
    padding: 0.7rem;
    margin: 0;
  }
}
.react-slider .slider-handle {
  outline: none;
  border: none;
}
.react-slider .slider-track {
  outline: none;
  border: none;
}

.slider-img {
  width:100%;
  height:90vh;
  object-fit: cover;
}
