
nav.primary-navigation {
  margin: 0 auto;
  display: block;
  padding: 0 0 0 0;
  text-align: center;
  font-size: 6px;
  height: 2rem;
}
.topbar {
  top: 0;
  display: flex;
  justify-content: space-between;
  margin-left: 7rem;
}
nav.primary-navigation ul li {
  list-style: none;
  border-left: 2px solid #3ca0e7;
  display: inline-block;
  padding: 0 30px;
  position: sticky;
  text-decoration: none;
  text-align: center;
  font-family: arvo;
}
nav.primary-navigation.ul {
  margin: none;
} 
nav.primary-navigation li a {
  color:  #ffffda ;
  font-size: 13px;
}

nav.primary-navigation li a:hover {
  color: #3ca0e7;
}

nav.primary-navigation li:hover {
  cursor: pointer;
}

nav.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: white;
}

nav.primary-navigation ul li:hover > ul,
nav.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}

nav.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
  height: 4rem;
}

nav.primary-navigation ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #3ca0e7;
}

ul li ul li a {
  transition: all 0.5s ease;
}
